<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leverage Testing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="jumbotron text-center">
        <h1 class="display-4">Leverage              Testing</h1>
        <p class="lead">The goal of leverage testing is to find the optimal amount of leverage (daily leverage) to trade with certain timeframes. To achieve this, I will implement a website with an easy UI to backtest strategies.</p>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/leverage_testing">Leverage Testing</a>
            </li>
        </ul>
    </nav>

    <div class="container mt-5">
        <h2 class="mb-4">Graphs</h2>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <canvas id="timeStockChart" width="800" height="600"></canvas>
                <div class="form-group mt-4">
                    <label class="slider-label" for="leverageRange">Leverage Amount: <span id="leverageAmount">1</span></label>
                    <input type="range" class="form-control-range" id="leverageRange" min="0" max="25" step="0.01" value="1">
                </div>
                <div class="form-group mt-4">
                    
                    <div class="input-group" style="padding: 20px;">
                        <input type="text" class="form-control" id="ticker" placeholder="Ticker (Ex: SPY)">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="submitBtn">Submit</button>
                        </div>
                    </div>
                    <label class="form-control-range" for="timeRange">Time Range: <span id="timeRangeLabel">0 - 100</span></label>
                    <div id="timeRangeSlider"></div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <canvas id="leverageReturnsChart" width="800" height="600"></canvas>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 offset-md-3" style="padding: 20px;">
                <button type="button" class="btn btn-primary btn-block">Calculate</button>
            </div>
        </div>
        <div class="container mt-5">
            <!-- Display the Markdown content -->
            {{ markdown_content | safe }}
        </div>
    </div>
    <footer class="bg-dark text-white text-center py-3">
        <p>Find us on GitHub: <a href="https://github.com/Mph128/trading" class="text-white">GitHub</a></p>
    </footer>

    <script src="{{ url_for('static', filename='js/leverage_testing.js') }}"></script>
</body>
</html>
